! not sure how to source this from ~/.Xresources.
! a workaround: to source this file on terminal exit, put this in .bashrc:
! trap "~/src/dotfiles/.Xresources" EXIT
!
! https://wiki.archlinux.org/title/Xterm#Configuration
! this page says that $TERM should not be set in .bashrc.
! says that $TERM should instead be set in .Xresources
!
! https://lukas.zapletalovi.com/posts/2013/hidden-gems-of-xterm/
!
! export terminal color themes in xterm format.
! https://terminal.sexy/
!
! i would like to have a way to force neovim (specifically, AstroNvim) to use the 16 ANSI colors.
! https://github.com/neovim/neovim/issues/11974
! https://jeffkreeftmeijer.com/vim-16-color/

! XTerm

!UXTerm*background: black
!UXTerm*foreground: white
!UXTerm*cursorColor: white

!UXTerm*scrollBar: true

!uxterm.font: *-fixed-*-*-*-22-*

UXTerm*faceName: DejaVu Sans Mono
UXTerm*faceSize: 12
UXTerm*renderFont: true

UXTerm*geometry: 512x512

UXTerm*visualBell: False

! terminal.sexy: londontube.dark
! special
*.foreground:   #d9d8d8
*.background:   #231f20
*.cursorColor:  #d9d8d8

! black
*.color0:       #231f20
*.color8:       #737171

! red
*.color1:       #ee2e24
*.color9:       #ee2e24

! green
*.color2:       #00853e
*.color10:      #00853e

! yellow
*.color3:       #ffd204
*.color11:      #ffd204

! blue
*.color4:       #009ddc
*.color12:      #009ddc

! magenta
*.color5:       #98005d
*.color13:      #98005d

! cyan
*.color6:       #85cebc
*.color14:      #85cebc

! white
*.color7:       #d9d8d8
*.color15:      #ffffff
